<div class="card border-primary mb-3">
  <div class="card-header">Productos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Lista de Productos</h5>

<div class="my-2 text-left">
  <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/productos/form']">Crear Clientes</button>
</div>
    <table class="table table-table-bordered table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Descripciónnn</th>
          <th>precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of productos">
          <td>{{p.nombre}}</td>
          <td>{{p.tipoProduct}}</td>
          <td>{{p.descripcion}}</td>
          <td>{{p.precio}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
